@import "tailwindcss";

@theme {
  --color-primary: #0d192b;
  --color-secondary: #14253d;
  --color-accent: #00fff7;
  --color-accent-transparent: #00fff74d;
  --color-body: #8bacda;
  --font-display: "Outfit", sans-serif;
}